.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #4078c0;
}

.masthead .masthead-logo {
  float: left;
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
}

.masthead a.masthead-logo:hover{
  text-decoration: none;
}

.masthead .masthead-logo .mega-octicon {
  float: left;
  margin-right: .5rem;
}

.masthead-nav {
  float: right;
  margin-top: .5rem;
  font-size: 1rem;
}

.masthead-nav a:not(:last-child) {
  margin-right: 1.25rem;
}

.masthead-nav a {
  display: inline-block;
}

.masthead a {
  color: rgba(255,255,255,0.5);
}